<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{appmodule.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{appmodule.list.headline}]]</h1>
                <div>
                    <a th:href="@{/appmodules/add}" class="btn btn-primary ms-2">[[#{appmodule.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${appmodules.empty}">[[#{appmodule.list.empty}]]</div>
            <div th:if="${!appmodules.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{appmodule.id.label}]]</th>
                            <th scope="col">[[#{appmodule.name.label}]]</th>
                            <th scope="col">[[#{appmodule.deleted.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="appmodule : ${appmodules}">
                            <td>[[${appmodule.id}]]</td>
                            <td>[[${appmodule.name}]]</td>
                            <td>[[${appmodule.deleted}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/appmodules/edit/{id}(id=${appmodule.id})}" class="btn btn-sm btn-secondary">[[#{appmodule.list.edit}]]</a>
                                    <form th:action="@{/appmodules/delete/{id}(id=${appmodule.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{appmodule.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
